In [26]:
import pandas as pd
import yfinance as yf
import pickle
import datetime

from os.path import exists

In [27]:
tickers = ['jpm', 'tsla', 'SPY', 'BRK-B', 'INTC', 'SSO', 'ROM']

In [33]:
# today's date for the end date
end_dt = datetime.date.today()

# loop through each ticker
for sym in tickers:
    
    # build file name and read in cache if it exists
    file_name = 'data/' + sym + '.pkl'
    df_prev = pd.DataFrame()
    if exists( file_name ):
        df_prev = pd.read_pickle( file_name )
        start_dt = df_prev.index.max()
    else:
        start_dt = '2000-01-01'
    print( sym + ' ' + str(start_dt) + ' to ' + str(end_dt) )
    
    # download the data we need
    df = yf.download(sym,
              start=start_dt, 
              end=end_dt, 
              progress=False)
    if len( df_prev ) > 0:        
        # merge the dataframes
        df_index = df.index
        df_prev_index = df_prev.index
        mask = ~df_prev_index.isin(df_index)
        #result = pd_prev.loc[mask]
        df = pd.concat([df_prev.loc[mask],df])
    
    df['close_30day'] = df['Close'].rolling(window=30).mean()
    df['close_60day'] = df['Close'].rolling(window=60).mean()
    df['close_90day'] = df['Close'].rolling(window=90).mean()
    df.to_pickle( file_name )

jpm 2022-08-01 00:00:00 to 2022-08-02
tsla 2022-08-01 00:00:00 to 2022-08-02
SPY 2022-08-01 00:00:00 to 2022-08-02
BRK-B 2022-08-01 00:00:00 to 2022-08-02
INTC 2022-08-01 00:00:00 to 2022-08-02
SSO 2022-08-01 00:00:00 to 2022-08-02
ROM 2022-08-01 00:00:00 to 2022-08-02

In [25]:
df

,Open,High,Low,Close,Adj Close,Volume,close_30day,close_90day
Date,,,,,,,,
2007-02-01,2.187500,2.187813,2.187500,2.187813,2.081393,6400,NaN,NaN
2007-02-02,2.212500,2.212500,2.196563,2.201875,2.094770,320000,NaN,NaN
2007-02-05,2.206563,2.211563,2.206563,2.208125,2.100717,326400,NaN,NaN
2007-02-06,2.197188,2.197188,2.173125,2.194063,2.087338,198400,NaN,NaN
2007-02-07,2.214688,2.240625,2.214688,2.224063,2.115878,224000,NaN,NaN
...,...,...,...,...,...,...,...,...
2022-07-22,33.650002,33.880001,31.959999,32.310001,32.310001,104200,30.232334,36.980889
2022-07-25,32.259998,32.360001,31.350000,31.799999,31.799999,53800,30.184333,36.875222
2022-07-26,31.719999,31.719999,30.230000,30.459999,30.459999,57400,30.179333,36.720222
2022-07-27,31.670000,33.820000,31.670000,33.520000,33.520000,144700,30.373333,36.589000
2022-07-28,33.389999,34.400002,32.709999,34.250000,34.250000,176900,30.582000,36.442333